.home__news {
    margin-top: $size6;
    padding: $size2;
    & > * {
        margin-top: $size4;
        @media (min-width: $layout-breakpoint-small) {
            margin-left: 20%;
        }
    }

    h1 {
        width: 100%;
        @media (min-width: $layout-breakpoint-xsmall) {
            width: 60%;
        }
    }
    .home__news-cards {
        display: grid;
        margin: $size3 0;

        @media (min-width: $layout-breakpoint-small) {
            display: flex;
        }
        .home__news-card {
            margin: $size5 0;
            display: grid;
            place-items: center;
            height: 100%;
            @media (min-width: $layout-breakpoint-small) {
                width: 300px;
                margin-right: $size3;
            }

            img {
                width: 100%;
                @media (min-width: $layout-breakpoint-small) {
                    width: 300px;
                }
            }
            figcaption {
                margin: $size4 0;
                & > * {
                    margin-top: $size2;
                }
                b {
                    text-align: justify;
                    font-size: 18px;
                    height: 30px;
                    line-height: 1.1;
                }
                p {
                    line-height: 1.6;
                }
            }
        }
    }
}

.home__news-inner {
    overflow: hidden;
}

.container-news {
    margin: 4px auto 0;
    padding: 0 16px;
    max-width: 1080px;
}

.sticky-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
}

.carousel {
    display: flex;
    gap: 48px;
}

.carousel__slide {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

// &-card {
//     margin: $size5 0;
//     display: grid;
//     place-items: center;
//     @media (min-width: $layout-breakpoint-small) {
//         margin: 0;
//     }

//     img {
//         width: 100%;
//         @media (min-width: $layout-breakpoint-small) {
//         }
//     }
//     figcaption {
//         text-align: center;
//         width: 80%;
//         margin: $size4 0;
//     }
// }
